@font-face {
	font-family: 'Helvetica LT Std';
	src: url('HelveticaLTStd-BoldCond.eot');
	src: local('Helvetica LT Std Bold Condensed'), local('HelveticaLTStd-BoldCond'),
		url('../fonts/HelveticaLTStd-BoldCond.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaLTStd-BoldCond.woff') format('woff'),
		url('../fonts/HelveticaLTStd-BoldCond.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

:root {
	--background: rgba(85, 214, 170, .85);
}

body {
	background:
        /* top, transparent black, faked with gradient */
        linear-gradient(
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        /* bottom, image */
        url('../images/pitch-bg.jpg') no-repeat center center fixed;
  /*background: url('../images/pitch-bg.jpg') no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: arial, sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 0) {
	/* Bespoke header */
	header.test-header {
		background: red;
	    background-image: linear-gradient(to right,
	        #FD0002    0%,
	        #FD0002  25%,
	        #FE7200  55%,
	        #FE7200  100%
	    );
		height: 75px;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: 999;
	}

	header .logo-container {
	    margin: 0 auto;
	}

	.logo {
		margin-top: 15px;
		position: relative;
		width: 100px;
		z-index: 10;
	}

	.logo img {
		max-width: 100%;
		max-height: 100%;
	}

	nav {
		background: #000;
		left: 0;
		opacity: .85;
		position: absolute;
		text-align: left;
		top: 100%;
		transform: scale(1, 0);
		transition: transform 400ms ease-in-out;
		transform-origin: top;
		width: 100%;
	}

	nav ul {
		list-style: none;
		margin: 30px 0;
		padding: 0;
	}

	nav ul li {
		margin-bottom: 1em;
		margin-left: 1em;
	}

	nav ul li:last-of-type {
		margin-bottom: 0;
	}

	nav a {
		color: #fff;
		font-size: 1.125rem;
		opacity: 0;
		text-decoration: none;
		transition: opacity 150ms ease-in-out;
	}

	nav a:hover {
		color: #000;
	}

	.nav-toggle {
		display: none;
	}

	.nav-toggle-label {
		align-items: center;
		cursor: pointer;
		display: flex;
		height: 100%;
		right: 0;
		margin-right: 1em;
		position: absolute;
		top: 0;
	}

	.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
		background: #fff;
		border-radius: 2px;
		display: block;
		height: 2px;
		position: relative;
		width: 2em;
	}

	.nav-toggle-label span::before, .nav-toggle-label span::after {
		content: '';
		position: absolute;
	}

	.nav-toggle-label span::before {
		bottom: 7px;
	}

	.nav-toggle-label span::after {
		top: 7px;
	}

	.nav-toggle:checked ~ nav {
		transform: scale(1, 1);
	}

	.nav-toggle:checked ~ nav a {
		opacity: 1;
		transition: opacity 250ms ease-in-out 250ms;
	}

	/* END Bespoke header */

	h1.hero {
		color: #fff;
	    font-family: 'Helvetica LT Std', arial, sans-serif;
	    font-size: 3.125rem;
	    line-height: 50px;
	    margin: 20px 0;
		text-align: center;
	    text-transform: uppercase;
	    text-shadow:0 0 20px #000000;
	}

	h1.hero span {
	    font-size: 2.25rem;
	    line-height: 55px;
	}

	.associates img {
		margin: 0 auto;
		max-width: 270px;
	}

	.content-box {
		background-color: #fff;
		border: 1px solid #FE7200;
		padding: 20px;
		width: 100%;
	}

	.content-box p {
		margin-bottom: 40px;
	}

	.button {
		background: rgb(254,114,0);
		background: linear-gradient(180deg, rgba(254,114,0,1) 55%, rgba(253,52,1,1) 100%);
		border-radius: 15px;
		color: #fff;
		font-weight: bold;
		padding: 5px 30px;
		text-align: center;
	}

	.button:hover {
		background: rgb(215,106,17);
		background: linear-gradient(180deg, rgba(215,106,17,1) 83%, rgba(212,56,16,1) 100%);
		color: #fff;
		text-decoration: none;
	}

	.box-button {
		bottom: 0;
		position: absolute;
		right: 0;
	}

	footer {
	    background-color: #000;
	    border-top: 1px solid #fff;
		padding: 6px 0;
	}

	footer ul li {
	    display: block;
		font-size: 0.875rem;
	    list-style: none;
	    margin: 5px 0 5px 10px;
		text-align: center;
	}

	footer ul li a {
		color: #fff;
	}

	footer ul li a:hover {
		color: #FE7200;
	}

	footer .logo {
		left: -15px;
	    top: 30px;
		width: 90px;
	}
}

@media screen and (min-width: 576px) {
	h1.hero {
	    font-size: 5rem;
	}

	h1.hero span {
	    font-size: 2.375rem;
	}

	footer ul li {
	    display: inline-block;
	    margin: 0 15px;
	}

	footer .logo-container {
	    width: 85px;
	}

	footer .logo {
	    top: -30px;
	}
}

@media screen and (min-width: 768px) {
	h1.hero {
	    font-size: 4.375rem;
		line-height: 55px;
		text-align: left;
	}

	h1.hero span {
	    font-size: 3.125rem;
	}

	footer ul {
		padding: 0;
	}

	footer ul li {
	    margin: 0 5px;
	}

	footer .logo {
	    top: -43px;
	}
}

@media screen and (min-width: 992px) {
	.nav-toggle-label {
		display: none;
	}

	header.test-header {
		background: #fff;
		height: 130px;
		position: relative;
	}

	.gradient-bar-wrap {
		filter: drop-shadow(-10px 5px 5px rgba(0,0,0,0.4));
		height: 130px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.gradient-bar {
		background: #fff;
	    background-image: url('../images/football-hexagons.png');
	    background-image: url('../images/football-hexagons.png'), linear-gradient(to right,
	        #FD0002    0%,
	        #FD0002  25%,
	        #FE7200  55%,
	        #FE7200  100%
	    );
	    background-position: right center;
		box-shadow: 120px 80px 40px 20px #0ff;
		position: absolute;
		height: 100%;
		width: 90%;
		right: 0;
		z-index: 1;
		clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
	}

	.nav-container {
		height: 100%;
		padding-bottom: 20px;
	}

	header .logo-container {
		margin: 0;
	    width: 180px;
	}

	.logo {
		margin-top: 0;
		position: absolute;
		top: 20px;
		width: auto;
		z-index: 10;
	}

	nav {
		background: transparent;
		align-self: flex-end;
		opacity: 1;
		position: relative;
		top: auto;
		transform: scale(1, 1);
		width: auto;
		z-index: 10;
	}

	nav ul {
		margin: 0;
	}

	nav ul li {
		display: inline-block;
		margin: 0 10px 0 0;
	}

	nav ul li:last-of-type {
		margin: 0;
	}

	nav a {
		font-size: 1rem;
		opacity: 1;
	}

	.social {
		align-self: flex-end;
		z-index: 10;
	}


	h1.hero {
	    font-size: 6rem;
		line-height: 70px;
	    /*box-shadow: 0px 0px 40px 20px #0ff;*/
	  /* in order: x offset, y offset, blur size, spread size, color */
	  /* blur size and spread size are optional (they default to 0) */
	}

	h1.hero span {
	    font-size: 3.75rem;
	    line-height: 55px;
	}

	.content-box {
		background-color: #fff;
		border: 1px solid #FE7200;
		padding: 20px;
		width: 100%;
	}

	.button {
		background: rgb(254,114,0);
		background: linear-gradient(180deg, rgba(254,114,0,1) 55%, rgba(253,52,1,1) 100%);
		border-radius: 15px;
		color: #fff;
		font-weight: bold;
		padding: 5px 30px;
		text-align: center;
	}

	.button:hover {
		background: rgb(215,106,17);
		background: linear-gradient(180deg, rgba(215,106,17,1) 83%, rgba(212,56,16,1) 100%);
		color: #fff;
		text-decoration: none;
	}

	.box-button {
		bottom: 0;
		position: absolute;
		right: 0;
	}

	footer ul li {
	    margin: 0 15px;
	}

	footer .logo {
	    top: -27px;
	}
}

@media screen and (min-width: 1200px) {
	h1.hero {
	    font-size: 6.875rem;
		line-height: 90px;
		text-align: left;
	}

	h1.hero span {
	    font-size: 4.375rem;
	    line-height: 55px;
	}
}



/*header {
    height: 130px;
    background: #fff;
    background-image: url('../images/football-hexagons.png');
    background-image: url('../images/football-hexagons.png'), linear-gradient(to right,
        #fff    0%,
        #fff    25%,
        #FD0002  25%,
        #FE7200  55%,
        #FE7200  100%
    );
    background-position: right center;
}

header .logo-container {
    width: 150px;
}

.header {
    background: transparent url('../images/header-boundary.jpg') 30px 0 no-repeat;
    height: 130px;
}

header .logo {
    top: 20px;
}*/



.h1 {
    font-size: 2rem;
}

.h2 {
    font-size: 1.5rem;
}

.h3 {
	color: #FE7200;
	font-size: 1.125rem;
	font-weight: bold;
}
